<div class="d-flex flex-column align-items-center mt-3">
  <div class="col-xl-7 col-lg-8 col-md-10 col-sm-11 post-card">
    <div class="card">
      <div class="card-header">
        投稿画面
      </div>
      <div class="card-body">
        <%= form_with model: @post, class: "upload-images p-0 border-0" do |f| %>
          <div class="form-group row mt-2">
            <div class="col-auto pr-0">
              <% if current_user.profile_image.url.nil? %>
             <div class="profile-default-img"></div>
               <% else %>
           <%= image_tag current_user.profile_image.url, class: "profile-img" %>
          <% end %>
            </div>
            <div class="col pl-0">
              <%= f.text_field :caption, class: "form-control border-0", placeholder: "キャプションを書く" %>
            </div>

            <div class="field form-group form-group-lg">
          <%= f.label :tag_list, class: "sr-only control-label" %>
         <%= text_field_tag 'post[tag_list]', @post.tag_list.join(","), class: "form-control", placeholder: "鎌倉, 紫陽花, 家族旅行, 暑い," %>
          </div>
    

          <div class="mb-3">
            <%= f.fields_for :photos do |i| %>
              <%= i.file_field :image %>
            <% end %>
          </div>
          <%= f.submit "投稿する", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
