<div class="matching-index-page">
  <%#= render "partial/navbar" %>

  <div class="matching">
   <div class="matching-ad">
  <%= link_to choices_path, class: "nav-item nav-link" do%>
      <i class="fas fa-chevron-left"></i>
    <% end %>
    <p class="matching-title ml-3">サポーターとチャットしましょう！</p>
  </div>

    <div class="matching__list">
        <% @users.each do |user| %>
         <%= link_to chat_rooms_path(params: { user_id: user.id }), method: :post do %>
         <div class="matching__person">
           <% if user.profile_image.url.nil? %>
             <div class="matching__person-default-img"></div>
           <% else %>
             <%= image_tag user.profile_image.url, class: "matching__person-img" %>
           <% end %>

           <div class="matching__person-name">
             <%= user.nickname %>
          </div>
          <div class="matching__person-introduction">
             <%= user.self_introduction %>
           </div>

         </div>
         <% end %>
        <% end %>
    </div>
  </div>

</div>
